.app-wrapper{
    color: aqua;
    display: flex;
    flex-direction: column;
    
}

.form-wrapper{
    align-items: center;
    color: rgb(201, 9, 9);
    padding-left: 5%;
    
}

.Buttons{
    color: black;
    margin-right: 70%;
}
h2{
    padding-left: 5%;
}