.Product {
    background-color: #C8F2EF;
}

.pimage {
    margin-left: 5%;
    margin-top: 2%;
}

.pName {
    margin-top: -20%;
}

.pPrice {
    margin-top: -12.5%;
    margin-left: -24.5%;
}

.pDescription {
    margin-top: 15%;
    margin-left: -47%;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: -10%;
}

    